name: 'GitHub Actions Basic'

# push 를 할 때 마다 해당 Github Actions 를 돌리겠다.
on: push

jobs:
  first-job:
    name: 'AzFunc Github Actions Test'

    runs-on: ubuntu-latest

    steps:
    - name: Say Hello World 1
      shell: bash
      run: |
        echo "Hello World from step 1"

    - name: Check environment variables 1
      shell: bash
      env:
        STEP_LEVEL_1: "This value comes from the STEP level 1"
      run: |
        echo "workflow level: $WORKFLOW_LEVEL"
        echo "job level: $JOB_LEVEL"
        echo "step level 1: $STEP_LEVEL_1"
        echo "step level 2: $STEP_LEVEL_2"
        echo "step level 3: $STEP_LEVEL_3"

    - name: Check environment variables 2
      shell: pwsh
      env:
        STEP_LEVEL_2: "This value comes from the STEP level 2"
      run: |
        echo "workflow level: $env:WORKFLOW_LEVEL"
        echo "job level: $env:JOB_LEVEL"
        echo "step level 1: $env:STEP_LEVEL_1"
        echo "step level 2: $env:STEP_LEVEL_2"
        echo "step level 3: $env:STEP_LEVEL_3"

    - name: Check environment variables 3
      shell: bash
      env:
        STEP_LEVEL_3: "This value comes from the STEP level 3"
      run: |
        echo "workflow level: ${{ env.WORKFLOW_LEVEL }}"
        echo "job level: ${{ env.JOB_LEVEL }}"
        echo "step level 1: ${{ env.STEP_LEVEL_1 }}"
        echo "step level 2: ${{ env.STEP_LEVEL_2 }}"
        echo "step level 3: ${{ env.STEP_LEVEL_3 }}"